/*
 * dropdown
 */
.disable(){
  background: @disabled-color-dark;
  color:@disabled-color;
  cursor: not-allowed;
}
.@{zr-prefix}-dropdown{
  position: relative;
  display: inline-block;
  color:@text-color;
  a,a:hover{
    color: @dropdown-text-color;
  }
  //normal style
  .@{zr-prefix}-dropdown-normal{

  }
  [class*=" @{iconfont-css-prefix}-"],[class^="@{iconfont-css-prefix}-"]{
    margin-left: @btn-icon-margin;
    font-size: @dropdown-arrow-size;
    display: inline-block;
  }
  [class*=" @{iconfont-css-prefix}-arrow-down"],[class^="@{iconfont-css-prefix}-arrow-down"]{
    transition: all 0.2s ease;
  }

  //hidden menu list
  .@{zr-prefix}-dropdown-hidden{
    display: none;
  }
  .@{zr-prefix}-dropdown-menu{
    display: none;
    position: absolute;
    left:0;
    z-index: @dropdown-zindex;
    top:@font-size-base + 8px;
    background: #fff;
    box-shadow: @box-shadow-base;
    .@{zr-prefix}-dropdown-item{
      position: relative;
      white-space: nowrap;
      cursor: pointer;
      height:@dropdown-item-height-base;
      line-height: @dropdown-item-height-base;
      padding: @dropdown-padding-base;
      .@{zr-prefix}-dropdown-children{
        background: #fff;
        position: absolute;
        left:104%;
        top:0;
        display: none;
      }
      &:hover{
        background: @item-hover-bg;
        .@{zr-prefix}-dropdown-children{
          display: inline-block;
        }
      }

    }
    .@{zr-prefix}-dropdown-disable{
      .disable();
      &:hover{
        .disable();
      }
    }
    .@{zr-prefix}-dropdown-divider{
      height: @dropdown-divider-height ;
      overflow: hidden;
      background-color: @border-color-split;
    }
  }
}

.@{zr-prefix}-dropdown-show{
  .@{zr-prefix}-dropdown-menu{
    display: inline-block;
  }
  [class*=" @{iconfont-css-prefix}-arrow-down"],[class^="@{iconfont-css-prefix}-arrow-down"]{
     transform: rotate(180deg);
   }
}
.@{zr-prefix}-dropdown-btn{
  .@{zr-prefix}-dropdown-normal{
    display: inline-block;
    height: @btn-height-base;
    padding: @btn-padding-base;
    border:@border-width-base @border-style-base @border-color-base;
    border-radius: @btn-border-radius-base;
    line-height: @btn-height-base;
    font-size: @font-size-base;
    font-weight: @btn-font-weight;
    cursor: pointer;
  }
  .@{zr-prefix}-dropdown-menu{
    top:@btn-height-base + 4px;
  }
}
.@{zr-prefix}-dropdown-center{
  .@{zr-prefix}-dropdown-menu{
    left:auto;
    right:auto;
  }
}
.@{zr-prefix}-dropdown-right{
  .@{zr-prefix}-dropdown-menu{
    left:auto;
    right:0;
  }
}




.mixin(@name,@type) when (@name = @xs-name) and (@type = @screen-name-dropdown) {
  //默认手机
}

.mixin(@name,@type) when (@name = @sm-name) and (@type = @screen-name-dropdown) {
  //平板
}

.mixin(@name,@type) when (@name = @md-name) and (@type = @screen-name-dropdown) {
  //桌面显示器
}

.mixin(@name,@type) when (@name = @lg-name) and (@type = @screen-name-dropdown) {
  //大桌面显示器
}

.mixin(@name,@type) when (@name = @xl-name) and (@type = @screen-name-dropdown) {
  //大屏慕数据展示
}