@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?2956330');
  src: url('font/fontello.eot?2956330#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?2956330') format('woff2'),
       url('font/fontello.woff?2956330') format('woff'),
       url('font/fontello.ttf?2956330') format('truetype'),
       url('font/fontello.svg?2956330#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2956330#fontello') format('svg');
  }
}
*/
 
 [class^="nvicon-"]:before, [class*=" nvicon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.nvicon-accessory-empty:before { content: '\e800'; } /* '' */
.nvicon-add-circle-empty:before { content: '\e801'; } /* '' */
.nvicon-add-circle:before { content: '\e802'; } /* '' */
.nvicon-add-square-empty:before { content: '\e803'; } /* '' */
.nvicon-add:before { content: '\e804'; } /* '' */
.nvicon-arrow-down:before { content: '\e805'; } /* '' */
.nvicon-arrow-left:before { content: '\e806'; } /* '' */
.nvicon-check-empty:before { content: '\e807'; } /* '' */
.nvicon-arrow-right:before { content: '\e808'; } /* '' */
.nvicon-arrow-up:before { content: '\e809'; } /* '' */
.nvicon-calendar-empty:before { content: '\e80a'; } /* '' */
.nvicon-calendar:before { content: '\e80b'; } /* '' */
.nvicon-chat-empty:before { content: '\e80c'; } /* '' */
.nvicon-chat:before { content: '\e80d'; } /* '' */
.nvicon-classify-empty:before { content: '\e80e'; } /* '' */
.nvicon-check:before { content: '\e80f'; } /* '' */
.nvicon-dimission-empty:before { content: '\e810'; } /* '' */
.nvicon-classify:before { content: '\e811'; } /* '' */
.nvicon-bookmark:before { content: '\e812'; } /* '' */
.nvicon-close-circle-empty:before { content: '\e813'; } /* '' */
.nvicon-close-circle:before { content: '\e814'; } /* '' */
.nvicon-close:before { content: '\e815'; } /* '' */
.nvicon-comment-empty:before { content: '\e816'; } /* '' */
.nvicon-comment:before { content: '\e817'; } /* '' */
.nvicon-copy-empty:before { content: '\e818'; } /* '' */
.nvicon-copy:before { content: '\e819'; } /* '' */
.nvicon-doc-empty:before { content: '\e81a'; } /* '' */
.nvicon-doc:before { content: '\e81b'; } /* '' */
.nvicon-down-circle-empty:before { content: '\e81c'; } /* '' */
.nvicon-down-circle:before { content: '\e81d'; } /* '' */
.nvicon-down:before { content: '\e81e'; } /* '' */
.nvicon-download:before { content: '\e81f'; } /* '' */
.nvicon-edit:before { content: '\e820'; } /* '' */
.nvicon-dimission:before { content: '\e821'; } /* '' */
.nvicon-error-square-empty:before { content: '\e822'; } /* '' */
.nvicon-folder:before { content: '\e823'; } /* '' */
.nvicon-folder-open:before { content: '\e824'; } /* '' */
.nvicon-error-square:before { content: '\e825'; } /* '' */
.nvicon-filter-empty:before { content: '\e826'; } /* '' */
.nvicon-heart-empty:before { content: '\e827'; } /* '' */
.nvicon-heart:before { content: '\e828'; } /* '' */
.nvicon-help-empty:before { content: '\e829'; } /* '' */
.nvicon-help:before { content: '\e82a'; } /* '' */
.nvicon-home-empty:before { content: '\e82b'; } /* '' */
.nvicon-home:before { content: '\e82c'; } /* '' */
.nvicon-info-empty:before { content: '\e82d'; } /* '' */
.nvicon-info:before { content: '\e82e'; } /* '' */
.nvicon-invisible-empty:before { content: '\e82f'; } /* '' */
.nvicon-invisible:before { content: '\e830'; } /* '' */
.nvicon-left-circle-empty:before { content: '\e831'; } /* '' */
.nvicon-left-circle:before { content: '\e832'; } /* '' */
.nvicon-left:before { content: '\e833'; } /* '' */
.nvicon-add-square:before { content: '\e834'; } /* '' */
.nvicon-mail-empty:before { content: '\e835'; } /* '' */
.nvicon-mail:before { content: '\e836'; } /* '' */
.nvicon-menu-empty:before { content: '\e837'; } /* '' */
.nvicon-minus-empty:before { content: '\e838'; } /* '' */
.nvicon-minus-square-empty:before { content: '\e839'; } /* '' */
.nvicon-next-empty:before { content: '\e83b'; } /* '' */
.nvicon-ok-circle-empty:before { content: '\e83c'; } /* '' */
.nvicon-ok-circle:before { content: '\e83d'; } /* '' */
.nvicon-ok:before { content: '\e83e'; } /* '' */
.nvicon-password-empty:before { content: '\e83f'; } /* '' */
.nvicon-password:before { content: '\e840'; } /* '' */
.nvicon-previous-empty:before { content: '\e841'; } /* '' */
.nvicon-prohibit:before { content: '\e843'; } /* '' */
.nvicon-rank-empty:before { content: '\e844'; } /* '' */
.nvicon-rank:before { content: '\e845'; } /* '' */
.nvicon-right-circle-empty:before { content: '\e846'; } /* '' */
.nvicon-right:before { content: '\e848'; } /* '' */
.nvicon-search-empty:before { content: '\e849'; } /* '' */
.nvicon-search:before { content: '\e84a'; } /* '' */
.nvicon-seting-empty:before { content: '\e84b'; } /* '' */
.nvicon-seting:before { content: '\e84c'; } /* '' */
.nvicon-star-empty:before { content: '\e84d'; } /* '' */
.nvicon-star:before { content: '\e84e'; } /* '' */
.nvicon-edit-empty:before { content: '\e84f'; } /* '' */
.nvicon-exit-empty:before { content: '\e850'; } /* '' */
.nvicon-spin2:before { content: '\e851'; } /* '' */
.nvicon-spin3:before { content: '\e852'; } /* '' */
.nvicon-up:before { content: '\e853'; } /* '' */
.nvicon-spin5:before { content: '\e854'; } /* '' */
.nvicon-spin6:before { content: '\e855'; } /* '' */
.nvicon-trash-empty:before { content: '\e856'; } /* '' */
.nvicon-trash:before { content: '\e857'; } /* '' */
.nvicon-triangle-down-empty:before { content: '\e858'; } /* '' */
.nvicon-triangle-down:before { content: '\e859'; } /* '' */
.nvicon-triangle-left-empty:before { content: '\e85a'; } /* '' */
.nvicon-triangle-left:before { content: '\e85b'; } /* '' */
.nvicon-triangle-right-empty:before { content: '\e85c'; } /* '' */
.nvicon-triangle-right:before { content: '\e85d'; } /* '' */
.nvicon-triangle-up-empty:before { content: '\e85e'; } /* '' */
.nvicon-triangle-up:before { content: '\e85f'; } /* '' */
.nvicon-up-circle-empty:before { content: '\e860'; } /* '' */
.nvicon-up-circle:before { content: '\e861'; } /* '' */
.nvicon-upload-1:before { content: '\e862'; } /* '' */
.nvicon-upload-empty:before { content: '\e863'; } /* '' */
.nvicon-upload:before { content: '\e864'; } /* '' */
.nvicon-user-empty:before { content: '\e865'; } /* '' */
.nvicon-user:before { content: '\e866'; } /* '' */
.nvicon-visible-empty:before { content: '\e867'; } /* '' */
.nvicon-visible:before { content: '\e868'; } /* '' */
.nvicon-warning-empty:before { content: '\e869'; } /* '' */
.nvicon-warning:before { content: '\e86a'; } /* '' */
.nvicon-minus-square:before { content: '\e86b'; } /* '' */
.nvicon-prohibit-empty:before { content: '\e86c'; } /* '' */
.nvicon-right-circle:before { content: '\e86d'; } /* '' */
.nvicon-save-empty:before { content: '\e86e'; } /* '' */
.nvicon-transaction-empty:before { content: '\e86f'; } /* '' */
.nvicon-transaction:before { content: '\e870'; } /* '' */
.nvicon-bookmark-empty:before { content: '\f097'; } /* '' */
.nvicon-folder-empty:before { content: '\f114'; } /* '' */
.nvicon-folder-open-empty:before { content: '\f115'; } /* '' */
.nvicon-toggle-off:before { content: '\f204'; } /* '' */
.nvicon-toggle-on:before { content: '\f205'; } /* '' */